<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/timeline.css' />
    <link rel='stylesheet' href='/stylesheets/easyui_full.css' />
		<link rel="stylesheet" href="/layui/css/layui.css" />
		<script src="/layui/layui.js"></script>
	</head>
	<body>
		<div class="time_axis">
			<div class="search_bar">
					<button id="search_bt" class="layui-btn">搜索</button>
			</div>
      <div class="easyui-panel panel-body" id="timeline_frame" title="" style="padding: 10px;">
      <div class="timeline" id="timeline_area">
        <dl>
            <dt>
                <b>Coffey</b>
                <p>2017年07月01日 10:00</p>
            </dt>
            <dd>贾跃亭“净身出户”，乐视网开打股价保卫战？</dd>
        </dl>
        <dl class="timeline-node-green">
            <dt>
                <b>John</b>
                <p>2018年07月01日 12:00</p>
            </dt>
            <dd>明年起所有的iPhone都要用OLED屏幕 三星成大赢家</dd>
        </dl>
        <dl>
            <dt>
                <b>Michelle</b>
                <p>2019年07月01日 08:00</p>
            </dt>
            <dd>苹果为了方便用户在App Store里充值购物，在系统更新后支持了支付宝的付款方式，但直到现在还是有很多用户不知道这个“梗”。因此，支付宝在6月30日至7月7日期间推出了“上App Store绑支付宝，千万红包，限时疯抢”的活动。</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2020年07月01日 15:00</p>
            </dt>
            <dd>大型科技股下跌 道指跌逾100点</dd>
        </dl>
        <dl>
            <dt>
                <b>William</b>
                <p>2021年07月01日 21:00</p>
            </dt>
            <dd>微信：坚决打击微信“炸群”行为 会有封号处罚</dd>
        </dl>
        <dl>
            <dt>
                <b>Lily</b>
                <p>2022年07月01日 09:00</p>
            </dt>
            <dd>共享单车围城：广州投放量70万辆 上海超100万</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2023年07月01日 12:00</p>
            </dt>
            <dd>诺基亚与蔡司签署独家合作 目标打造智能手机成像新标准</dd>
        </dl>
        <dl>
            <dt>
                <b>Michelle</b>
                <p>2019年07月01日 08:00</p>
            </dt>
            <dd>苹果为了方便用户在App Store里充值购物，在系统更新后支持了支付宝的付款方式，但直到现在还是有很多用户不知道这个“梗”。因此，支付宝在6月30日至7月7日期间推出了“上App Store绑支付宝，千万红包，限时疯抢”的活动。</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2020年07月01日 15:00</p>
            </dt>
            <dd>大型科技股下跌 道指跌逾100点</dd>
        </dl>
        <dl>
            <dt>
                <b>William</b>
                <p>2021年07月01日 21:00</p>
            </dt>
            <dd>微信：坚决打击微信“炸群”行为 会有封号处罚</dd>
        </dl>
        <dl>
            <dt>
                <b>Lily</b>
                <p>2022年07月01日 09:00</p>
            </dt>
            <dd>共享单车围城：广州投放量70万辆 上海超100万</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2023年07月01日 12:00</p>
            </dt>
            <dd>诺基亚与蔡司签署独家合作 目标打造智能手机成像新标准</dd>
        </dl>
        <dl>
            <dt>
                <b>Michelle</b>
                <p>2019年07月01日 08:00</p>
            </dt>
            <dd>苹果为了方便用户在App Store里充值购物，在系统更新后支持了支付宝的付款方式，但直到现在还是有很多用户不知道这个“梗”。因此，支付宝在6月30日至7月7日期间推出了“上App Store绑支付宝，千万红包，限时疯抢”的活动。</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2020年07月01日 15:00</p>
            </dt>
            <dd>大型科技股下跌 道指跌逾100点</dd>
        </dl>
        <dl>
            <dt>
                <b>William</b>
                <p>2021年07月01日 21:00</p>
            </dt>
            <dd>微信：坚决打击微信“炸群”行为 会有封号处罚</dd>
        </dl>
        <dl>
            <dt>
                <b>Lily</b>
                <p>2022年07月01日 09:00</p>
            </dt>
            <dd>共享单车围城：广州投放量70万辆 上海超100万</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2023年07月01日 12:00</p>
            </dt>
            <dd>诺基亚与蔡司签署独家合作 目标打造智能手机成像新标准</dd>
        </dl>
        <dl>
            <dt>
                <b>Michelle</b>
                <p>2019年07月01日 08:00</p>
            </dt>
            <dd>苹果为了方便用户在App Store里充值购物，在系统更新后支持了支付宝的付款方式，但直到现在还是有很多用户不知道这个“梗”。因此，支付宝在6月30日至7月7日期间推出了“上App Store绑支付宝，千万红包，限时疯抢”的活动。</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2020年07月01日 15:00</p>
            </dt>
            <dd>大型科技股下跌 道指跌逾100点</dd>
        </dl>
        <dl>
            <dt>
                <b>William</b>
                <p>2021年07月01日 21:00</p>
            </dt>
            <dd>微信：坚决打击微信“炸群”行为 会有封号处罚</dd>
        </dl>
        <dl>
            <dt>
                <b>Lily</b>
                <p>2022年07月01日 09:00</p>
            </dt>
            <dd>共享单车围城：广州投放量70万辆 上海超100万</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2023年07月01日 12:00</p>
            </dt>
            <dd>诺基亚与蔡司签署独家合作 目标打造智能手机成像新标准</dd>
        </dl>
        <dl>
            <dt>
                <b>Michelle</b>
                <p>2019年07月01日 08:00</p>
            </dt>
            <dd>苹果为了方便用户在App Store里充值购物，在系统更新后支持了支付宝的付款方式，但直到现在还是有很多用户不知道这个“梗”。因此，支付宝在6月30日至7月7日期间推出了“上App Store绑支付宝，千万红包，限时疯抢”的活动。</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2020年07月01日 15:00</p>
            </dt>
            <dd>大型科技股下跌 道指跌逾100点</dd>
        </dl>
        <dl>
            <dt>
                <b>William</b>
                <p>2021年07月01日 21:00</p>
            </dt>
            <dd>微信：坚决打击微信“炸群”行为 会有封号处罚</dd>
        </dl>
        <dl>
            <dt>
                <b>Lily</b>
                <p>2022年07月01日 09:00</p>
            </dt>
            <dd>共享单车围城：广州投放量70万辆 上海超100万</dd>
        </dl>
        <dl>
            <dt>
                <b>Jessica</b>
                <p>2023年07月01日 12:00</p>
            </dt>
            <dd>诺基亚与蔡司签署独家合作 目标打造智能手机成像新标准</dd>
        </dl>
      </div>
      </div>
		</div>
		<div class="content">
			<img src="/images/logo_abc-workflow_small.png" alt="logo"/>
      <div class="heart">heart</div>
			<h1><%= title %></h1>
			<p>Welcome to <%= title %></p>
			<!-- <img src="/images/logo_abc-workflow.png" alt="logo"/> -->
			<!-- <button id="default_bt" class="layui-btn">默认按钮</button> -->
			<hr style=" height:0px;border:none;border-top:1px dotted #185598;" />
      <div id="test">hello</div>
		</div>
    

	</body>
</html>
